#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      = image_tag @pin.image.url(:medium)
      %h1= @pin.title
      %p= @pin.description
      %p
      Submited by 
      = @pin.user.email
    .panel-footer
      .row
        .col-md-6
          %p.user
          submitter by
          = @pin.user.email
        .col-md-6
          .btn-group.pull-right
            = link_to like_pin_path(@pin), method: :put, class: "btn btn-dafault" do
              %span.glyphicon.glyphicon-heart
                = @pin.get_upvotes.size
            = if user_signed_in?    
              = link_to "edit", edit_pin_path, class: "btn btn=dafault"
              = link_to "destroy", pin_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn=dafault"